@charset "UTF-8";
/* CSS Document */


#bg {
  	position: fixed; 
  	top: 0; 
 	 left: 0; 
	  min-WIDTH: 100%;
	max-width: 100%;
}
.bg-dark {
    background-color: #0a3b5c!important;
}
p {
	margin: 2px 2px 10px 2px;
	
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1em;
	line-height: 17px;
}
h5 {
	font-size: 1.1em;
}

.margin-30-all {
	margin: 30px;
}

.padding-30-all {
	margin: 30px;
}
